:root {
  --svg-color: currentColor;
}

.star_two {
  width: 20px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  fill: var(--svg-color);
}

.star_three {
  width: 20px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  fill: var(--svg-color);
}

.sun {
  width: 20px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  fill: var(--svg-color);
}

.frame {
  width: 50px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  fill: var(--svg-color);
}
