@font-face {
    font-family: 'Amiah'; 
    src: url('https://raw.githubusercontent.com/runaway-star/Memento/main/amiah.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
  --svg-color: currentColor;
}

.star_two {
  width: 20px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  fill: var(--svg-color);
}

.star_three {
  width: 20px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  fill: var(--svg-color);
}

.sun {
  width: 20px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
  fill: var(--svg-color);
}
